.go-up-button {
  position: fixed;
  bottom: 110px;
  right: 10px;
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.go-up-button::-moz-focus-inner {
  border: 0;
}

.go-up-button-icon {
  color: white;
  font-size: 20px;
}